<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>This is Home Page <%='hello Wolrd'.toUpperCase()%>
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, illo? Praesentium, nisi optio necessitatibus
        quam dolores animi soluta! Quibusdam a tempora vitae excepturi nostrum beatae officia fugit officiis voluptate
        fuga.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate rem natus nemo veniam dolorem incidunt
        architecto repudiandae recusandae ut sunt consequatur aliquid nihil, dignissimos magnam doloremque?
        Necessitatibus placeat veritatis ipsa.</p>

</body>

</html>