<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            My site
        </title>
        <!-- 서버에 요청이 있을때마다 정적 폴더 public을 제공해주기 때문에, 경로를 적지 않아도 콘텐츠에 접근 가능 -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>

    <body>