<%- include('partial/head.ejs') %>


<%- include('partial/nav.ejs') %>
<h1>This is Home Page <%='hello Wolrd'.toUpperCase()%>
</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, illo? Praesentium, nisi optio necessitatibus
    quam dolores animi soluta! Quibusdam a tempora vitae excepturi nostrum beatae officia fugit officiis
    voluptate
    fuga.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate rem natus nemo veniam dolorem incidunt
    architecto repudiandae recusandae ut sunt consequatur aliquid nihil, dignissimos magnam doloremque?
    Necessitatibus placeat veritatis ipsa.</p>

<%- include('partial/footer.ejs') %>