.tomato{
    color : tomato;
}

.colors{
    padding-left: 0;
}

.box{
    width: 300px;
    height: 300px;
    background-color: green;
    display: flex;
    justify-content: center;   
    align-items: center;
}

.box > .circle{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.myBox{
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myBox > .list{
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    list-style: none;
}
.myBox > .list > .blue{
    width: 50px;
    height: 50px;
    background-color: blue;
    text-align: center;
}

.textBox{
    width: 200px;
    height: 200px;
    background-color: red;
    padding: 30px;
}
.textBox > .newText{
    width: 100%;
}

.colorBox{
    width: 350px;
    height: 350px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colorList{
    padding-left: 0px;
    width: 300px;
    height: 300px;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

li{
    width: 150px;
    padding: 10px;
    background-color: yellow;
    border: 5px solid #000;
}

.on{
    width: 150px;
    padding: 10px;
    background-color: red;
    border: 5px solid #000;
}

.newbox{
    width: 300px;
    height: 300px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newlist{
    width: 150px;
    height: 150px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    list-style : none;
}

.item1{
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click{
    background-color: hotpink;
    width: 50px;
}