<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create a New Comment</title>
    </head>
    <body>
        <h1>make a new comment!</h1>
        <!-- method default method : get -->
        <form action="http://localhost:8080/comments" method="post">
            <section>
                <label for="username">Enter username</label>
                <input type="text" name="username" placeholder="username" id="username" minlength="1">
            </section>
            <section>
                <label for="comment">Enter comment</label>
                <textarea type="text" name="comment" placeholder="comment" id="comment" minlength="5" cols="30"
                    rows="5"></textarea>
            </section>

            <button type="submit">create!</button>
        </form>

        <a href="/comments">back to list</a>
    </body>
</html>